.label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;

  @media (max-width: 767px) {
    text-align: center;
    font-size: 14px;
  }
}

.inputContainer {
  position: relative;
  max-width: 295px;

  @media (max-width: 767px) {
    max-width: 327px;
    margin: 0 auto;
  }
}

.input {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;

  &:placeholder {
    font-style: italic;
  }
}

.searchIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}